.header {
  background-color: var(--color-one);
  padding: 2rem 5rem 5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header h1 {
  color: var(--color-white);
  width: fit-content;
  margin-right: auto;
}

.header button {
  color: var(--color-white);
  border: 2px solid var(--color-white);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  width: 8rem;
  border-radius: 5px;
  background: none;
  margin-left: auto;
  cursor: pointer;
}

.main {
  padding: 2rem;
  flex: 1;
  top: 3rem;
  position: relative;
}

.aside {
  box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: calc(14rem + 5vw);
  background-color: var(--color-white);
  border-top-right-radius: 30px;
}

.aside p {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.aside ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.aside ul li a {
  font-size: 1.2rem;
  color: var(--color-text);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.2s ease-in;
}

.aside ul li a:hover {
  color: var(--color-black);
}

.container {
  display: flex;
  min-height: 100vh;
  position: relative;
  top: -3rem;
}

@media only screen and (max-width: 900px) {
  .aside {
    display: none;
  }

  .header {
    padding: 2rem 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .header h1 {
    font-size: 1.8rem;
  }

  .header {
    gap: 1rem;
    flex-wrap: wrap;
  }

  .header button {
    color: var(--color-white);
    border: 2px solid var(--color-white);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.3rem .6rem;
    width: 6rem;
    border-radius: 5px;
    background: none;
    margin-left: auto;
  }
}
