.container {
  margin-top: 1rem;
}

.container p {
  color: var(--color-black);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.container ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container ul li a {
  font-size: 1.2rem;
  color: var(--color-text);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.2s ease-in;
}

.container ul li a:hover {
  color: var(--color-black);
}

.wrapper {
  display: none;
}

@media only screen and (max-width: 900px) {
  .wrapper {
    display: block;
  }
}
