.container {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: var(--color-one);
  width: 10rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: var(--color-white);
}

.container input,
.container label {
  cursor: pointer;
}

.container input {
  transform: scale(1.2);
}

.todo {
  background-color: var(--color-two);
}

.inProgress {
  background-color: var(--color-three);
}

.review {
  background-color: var(--color-four);
}

.done {
  background-color: var(--color-one);
}
