.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: fit-content;
  margin: 7rem auto 0rem;
  padding: 2rem;
  border-radius: 10px;
  gap: 4rem;
}

.container h2 {
  font-size: 1.8rem;
  color: var(--color-text);
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 22rem;
}

.container form input {
  width: 100%;
  font-size: 1.1rem;
  padding: 0.7rem;
  outline: none;
  border: none;
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.1);
  color: var(--color-text);
  border-radius: 5px;
  font-weight: 600;
}

.container button {
  padding: 0.7rem;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: var(--color-one);
  color: var(--color-white);
  border-radius: 5px;
  cursor: pointer;
}

.container button:disabled {
  opacity: 0.5;
}

.container > div {
  width: 100%;
}

.container > div button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--color-black);
}

.container p {
  font-weight: 600;
}

.container p a {
  color: var(--color-one);
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 3rem auto 0rem;
  }
}

@media only screen and (max-width: 500px) {
  .container form {
    width: 100%;
  }

  .container {
    width: 100%;
  }
}
