.list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
}

.list li {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 5px;
}

.list li h4 {
  font-size: 1.1rem;
}

.list li span {
  display: block;
  width: 50%;
  height: 3px;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.todo {
  background-color: var(--color-two);
}

.inProgress {
  background-color: var(--color-three);
}

.review {
  background-color: var(--color-four);
}

.done {
  background-color: var(--color-one);
}

.list li p {
  color: var(--color-text);
  font-size: 1rem;
}

.list div {
  display: flex;
  gap: 2rem;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 3rem;
}

.list div button {
  background-color: var(--color-four);
  color: var(--color-white);
  font-size: .9rem;
  font-weight: 600;
  padding: 0.5rem 0.6rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

#todo button {
  background-color: var(--color-two);
}

#inProgress button {
  background-color: var(--color-three);
}

#review button {
  background-color: var(--color-four);
}

#done button {
  background-color: var(--color-one);
}

.delete {
  background: none !important;
  color: var(--color-text) !important;
  font-size: 1.4rem !important;
  margin-left: auto;
}
